body{
	background-color: #fff;

}

.page-header{
	margin-top: 0;
	padding: 15px;
	background-color: #212121;
}

img{
	width: 200px;
}

small{
	margin-left: 30px;
	border-left: 2px solid #616161;
	padding: 20px;
	text-transform: uppercase;
	color: #E65100 !important;
	letter-spacing: 1px;
	text-shadow: 0px 1px 10px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.title{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0px 1px 10px;
	margin-bottom: 100px;
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.fade-in.content {
	border: 1px solid #757575;
	background-color: transparent;
	width: 30%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	text-align: center; 
	box-shadow: 0px 0px 6px 1px;
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
}


.form-group{
	width: 100%;
}

.col-xs-4{
	width: 50%;
	border:none;
	background-color: transparent;
	color:#000;
}

input{
	border: none;
	background-color: transparent;
	color:#000;
	margin-right: 1px;
}

label{
	float: left;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
}

.col-xs-6{
	width: 100%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}



button.btnSearch{
	background-color: transparent;
	color: #000;
	width: 90%;
	padding: 10px;
	font-size: 25px;
	font-weight: 20px;

}



@media only screen and (max-width: 768px){
	h1{

	}

	small{
		border-left: none;
		margin-left: 10px;
	}
}























.form-box{
	margin-top:10px;
}

.modal-dialog{
	width:400px;
	padding:10px;
}

.middle-border{
	min-height: 150px;
	margin-top: 100px;
	border-right: 1px solid black;
}





