body{
	background-color: black;
	background: url('../images/cover.jpg');
}

.page-header{
	margin-top: 0;
	padding: 15px;
	background-color: #212121;
}

img{
	width: 200px;
}

small{
	margin-left: 30px;
	border-left: 2px solid #616161;
	padding: 20px;
	text-transform: uppercase;
	color: #E65100 !important;
	letter-spacing: 1px;
	text-shadow: 0px 1px 10px;
	font-family: 'Montserrat';
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacy:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1; 
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards; 
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.title{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0px 1px 2px;
	margin-bottom: 100px;
	font-size: 10px;
	height: 10px;
	font-family: 'Snippet';
	font-weight: 700;
  	color: #000;
 	text-transform: uppercase;
 	text-align: center;
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.fade-in.content {
	border: 1px solid #757575;
	background-color: transparent;
	width: 30%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	text-align: center; 
	box-shadow: 0px 0px 6px 1px;
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.row{
	width:100%; 
}

.form-box{
background-color: transparent !important;
}

.modal-dialog{
	padding:10px;
	margin-top: 1px;
}

.middle-border{
	min-height: 150px;
	margin-top: 80px;
	border-right: 2px solid #78909C;
}

.modal-content{
	background-color:transparent;
	padding:20px;
}

h3.text-center{
	color: #212121;
	font-weight: 800;
}

input.form-control{
	background-color: #212121;
	border-color:#212121;	
}

label{
	float: left;
	font-size: 17px;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Montserrat';
}

.btnMenu{
	background-color: #212121;
	border-color:#212121;	
	border-radius: 4px;
	width: 100px;	
	height: 35px;
	text-shadow:0px;
	color:#fff;
	font-family: 'Montserrat';
}

.labelPerson{
	padding: 10px;
}

.btnSearch{
	width: 100%;
	background-color: #BDBDBD;
	font-weight: 800;
	font-family: 'Montserrat';
}

.btnSearch:active,.btnSearch:hover,
.btnSearch:focus{
	background-color: #E65100;
}

img.icon{
	float: right;
	width:20px;
}

.leftModal{
	color: #fff;
	text-align: center;
	padding: 40px;
	width: 100%;
	letter-spacing: 1.2px;
	font-family: 'Snippet';
}

.leftModalText{
	font-weight: 400;
}

@media only screen and (max-width: 768px){
	#small{
		border-left: none;
		padding: none;
		display: block;
		text-align: center;
	}
	.row{
		width: 100%;
	}
	.btnMenu{
		display: block;
		margin-bottom: 10px;
		width: 100%;
	}
	.mLabels{
		font-size: 14px;
	}
	.centerTitle{
		font-size: 20px;
	}
	.leftModalText{
		font-size: 18px;

	}
	.leftModal{
		margin-top: 1px;
		font-size: 15px;
	}
	.middle-border{
		min-height:auto;
		border-right:0;
		margin: 65px 30px 0px 30px;
		border-top: 2px solid rgba(255,255,255,0.6);
		margin-top: 0px;
	}
	.col-xs-3{
		padding: 0;
		width: 100px;
		position: relative;
		
	}	
}


/*styling for home.html*/
body#homeBody{
	background: url('../images/home.png') center/cover;
}

.jumbotron{
	width: 50%;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	font-family: 'Montserrat';
	text-align: center;
	background: transparent;
}